footer.homeFooter
  include social-medias.pug

  div.copyrightText
    p #{info.copyright}
    p #{info.copyrightMessageStart}
      span.icon #{info.copyrightMessageIcon}
      |#{info.copyrightMessageEnd}
      a(href=info.url) #{info.nickName}
      |.

  div.waveWrapper
    div.waveWrapperInner
      svg.wave(viewBox="0 0 1920 200" preserveAspectRatio="none")
        use(xlink:href="#svg-wave")
      svg.wave(viewBox="0 0 1920 200" preserveAspectRatio="none")
        use(xlink:href="#svg-wave")

    div.waveWrapperInner
      svg.wave(viewBox="0 0 1920 200" preserveAspectRatio="none")
        use(xlink:href="#svg-wave-1")
      svg.wave(viewBox="0 0 1920 200" preserveAspectRatio="none")
        use(xlink:href="#svg-wave-1")

    div.waveWrapperInner
      svg.wave(viewBox="0 0 1920 200" preserveAspectRatio="none")
        use(xlink:href="#svg-wave-2")
      svg.wave(viewBox="0 0 1920 200" preserveAspectRatio="none")
        use(xlink:href="#svg-wave-2")

    div.waveWrapperInner
      svg.wave(viewBox="0 0 1920 200" preserveAspectRatio="none")
        use(xlink:href="#svg-wave-3")
      svg.wave(viewBox="0 0 1920 200" preserveAspectRatio="none")
        use(xlink:href="#svg-wave-3")

script(src="assets/default.js" async type='text/javascript')
