header.homeHeader
  div.background

  nav.menu#js-menu.-top
    a(href="index.html").logo &lt; #{info.title} /&gt;

    label.hamburgerMenu(for="respMenu")
      .line1
      .line2
      .line3

    input(type="checkbox" class="respMenu" id="respMenu")

    ul
      li
        a(href="index.html") #{menu.home}
      li
        a(href="#sobre") #{menu.about}
      li
        a(href="#portfolio") #{menu.portfolio}
      li
        a(href="#blog") #{menu.blog}
      li
        a(href="#contato") #{menu.contact}
      li
        a(href=info.resume target="_blank" rel="noopener") #{menu.resume}
          svg(viewBox="0 0 24 24")
            use(xlink:href="#svg-external-link")
      li
        button#langBtn(aria-label=menu.language)
          p.label #{menu.language}
          svg(viewBox="0 0 512 512")
            use(xlink:href="#svg-world")
      li
        button#themeBtn(aria-label=menu.theme)
          p.label #{menu.theme}
          svg(viewBox="0 0 24 24")
            use(xlink:href="#svg-paint")

  div.present
    div.presentAvatarContainer
      div#avatarHover.avatarHover
      div.avatarBackground
        img.avatar(src="assets/images/avatar.png" alt=strings.header.presentAlt)
    h1.headerName1
      span #{info.name}
      br
    h1.headerName2
      span #{info.surname}
      br
    div.mouseScroll
      div.mouse
        div.scroll

  canvas#canvas1.headerCanvas
