- var modal = languageModal;

div#langModal.langModal
  div.langModal-content
    span#langModalClose.langModalClose &times;

    h3 #{modal.title}

    ul.langModalList
      each lang, key in modal.languages
        li
          if language == key
            span.disabled #{lang.title}
              span (#{languageModal.selected})
              div.langFlags
                each flag in lang.flags
                  img(src="./assets/images/"+flag.path+".svg", alt=flag.alt)
          else
            a(href="/"+lang.url) #{lang.title}
              div.langFlags
                each flag in lang.flags
                  img(src="./assets/images/"+flag.path+".svg", alt=flag.alt)
