- var modal = themeModal;

div#themeModal.themeModal
  div.themeModal-content
    span#themeModalClose.themeModalClose &times;

    ul.themeModalList
      each theme, key in modal.themes
        li.themeItem
          span.hiddenKey #{key}
          button#themeButton(themeKey=key) #{theme.title}
            img(src="./assets/images/"+theme.imagePath+".svg", alt=theme.imageAlt themeKey=key)
