- var blog = strings.blog;
- var post = strings.blog.posts;
- var categories = strings.blog.categories;

section.blog#blog
  h2 #{blog.title}
  div.blogContainer

    each post in blog.posts
      div.post
        a.postlink(href=social.blog+post.url target="_blank" rel="noopener")
          h2.postTitle #{post.title}
          p.infos #{post.infos}
          p.peek #{post.peek}
        ul.tags
          if post.categories
            each cat in post.categories
              li
                a(href=social.blog+categories+cat) #{cat}

  a.link-blog(href=social.blog target="_blank" rel="noopener") #{blog.button}
