- var exp = strings.experiences;

section.experiences#ex
  h2 #{exp.title}
  p #{exp.text}

  div.experiencesArea
    ul.timeline
      each timelineItem in exp.timeline
        li.item(data-time=timelineItem.time)
          h3.title #{timelineItem.title}
          div.content
            if timelineItem.company
              div.company
                svg(viewBox="0 0 48 48")
                  use(xlink:href="#svg-company")
                p #{timelineItem.company}
            if timelineItem.location
              div.location
                svg(viewBox="0 0 24 24")
                  use(xlink:href="#svg-mapMarkerPin")
                p #{timelineItem.location}
          if timelineItem.description
            details
              summary #{exp.viewMore}
              div.description
                each desc in timelineItem.description
                  p #{desc}
