- var portfolio = strings.portfolio;
- var cases = strings.portfolio.cases;

section.portfolio#portfolio
  h2 #{portfolio.title}
  div.portfolioContainer
    div.frame
      div.hover
        h2 #{cases.load.title}
        svg(viewBox="0 0 24 24")
          use(xlink:href="#svg-magnifier")
      img.case(src="./assets/images/atelier-load-1.png", numParts="7" alt=cases.load.alt) 
    div.frame
      div.hover
        h2 #{cases.tannure.title}
        svg(viewBox="0 0 24 24")
          use(xlink:href="#svg-magnifier")
      img.case(src="./assets/images/atelier-tannure-1.png", numParts="2" alt=cases.tannure.alt)
    div.frame
      div.hover
        h2 #{cases.renault.title}
        svg(viewBox="0 0 24 24")
          use(xlink:href="#svg-magnifier")
      img.case(src="./assets/images/atelier-renaultserra-1.png", numParts="3" alt=cases.renault.alt)
    div.frame
      div.hover
        h2 #{cases.buska.title}
        svg(viewBox="0 0 24 24")
          use(xlink:href="#svg-magnifier")
      img.case(src="./assets/images/atelier-buska-1.png", numParts="3" alt=cases.buska.alt)
    div.frame
      div.hover
        h2 #{cases.storti.title}
        svg(viewBox="0 0 24 24")
          use(xlink:href="#svg-magnifier")
      img.case(src="./assets/images/atelier-stortiboechat-1.png", numParts="2" alt=cases.storti.alt)

  div#js-modal.modal.-hide
    div#js-closeModal.closeModal
    div.img(alt=portfolio.alt)
