- var project = strings.project;

section.projects#projects
  h2 #{project.title}
  div.projectsBackground
  div.projectsContainer
    each proj in project.cases
      a.card(href=proj.url target="_blank" rel="noopener")
        div.github
          svg(viewBox="0 0 24 24")
            use(xlink:href="#svg-github")
        div.glass
          img(src=proj.icon)
          h2.title #{proj.title}
          if proj.description
            p.description #{proj.description}
          if proj.tags
            div.tags #{proj.tags.join(", ")}
